<figure class=img itemprop=associatedMedia itemtype=http://schema.org/ImageObject>
    <a data-caption="{fishname} - <em>{fishnameLatin}</em>" itemprop=contentUrl data-size="{imgSize}" href="{imgUrl}">
    <img itemprop="thumbnail" alt="{fishname} - {fishnameLatin}" data-id="{Id}" src="{thumbUrl}" style="width: {thumbSizeWidth}px; height: {thumbSizeHeight}px" title="{title}">
    </a>
    <figcaption itemprop="caption description">{fishnameLatinUrl}</figcaption>   
    <h3>{fishnameUrl}</h3>
</figure>
