  <header>
      <h1><a href="/">OliFish</a></h1>
      <form action=/ method=get>
          <input type=text placeholder=Recherche>
      </form>
      <a href=mailto:contact@olifish.com class=contact>@contact</a>
  </header>
    <div class=body>
      <div class=home>
        <p>Bonjour, je suis un photographe passionné par la plongée sous-marine.</p>
        <p>Bienvenue sur mon portfolio de photos. J'aime observer la faune, la nature et les éco-systèmes sous-marins.</p>
        <p>Aujourd'hui, je ne peux plus plonger sans mon appareil photo, et je suis ravi de vous présenter mon travail.</p>
        <p>Bonne visite, n'hésitez pas <a href=mailto:contact@olifish.com class=contact>à me contacter</a> pour échanger.</p>
        <p>Olivier Colli</p>
        <p>contact@olifish.com</p>
    </div>
    <section class="gallery">
        <h2>Mes galeries :</h2>
        {galleries}
    </section>
  </div>
  